@import url(https://fonts.googleapis.com/css?family=Orbitron);
body {
  background-color: purple;
}

.container {
  border: 1px solid #000000;
  width: 600px;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 15px;
}

h1 {
  font-family: 'Orbitron', sans-serif;
}


/*navbar*/

li {
  list-style: none;
  float: left;
  padding-right: 15px;
}

.main-content {
  clear: left;
  padding-top: 15px;
}
